{% extends "base.html" %}

{% block title %}Images bookmarked{% endblock %}

{% block h1 %}<h1 class="font-weight-bold title">Bookmark an image</h1>{% endblock %}

{% block content %}

    <div class="container-fluid">
    <div class="row">
        <div class="card-columns">
        {% include "images/image/list_ajax.html" %}
        </div>
    </div>
    </div>



{% endblock %}

{% block domready %}
    var page = 1;
    var empty_page = false;
    var block_request = false;

    $(window).scroll(function(){
        var margin = $(document).height() - $(window).height() - 200;
        if ($(window).scrollTop() > margin && empty_page == false && block_request == false){
            block_request = true;
            page += 1;
            $.get('?page=' + page, function(data){
                if (data == ''){
                    empty_page = true;
                }else{
                    block_request = false;
                    $('.card-columns').append(data);
                }
            });
        }
    });
{% endblock %}